html{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-image: url('Quotes.jpg');
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}


button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
    color: white;
    background-color: #20201f;
    outline: none;
    padding: 0.5rem 1.8rem;
}


.class2{
    font-size: 2.5rem;
}



.class1{
    background-color: rgb(219, 230, 226);
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    opacity: 50%;    
}


button{
    cursor: pointer;
}


.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1f0700;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}